In [ ]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings as wr
import starbars
from scipy.stats import pearsonr
from matplotlib.backends.backend_pdf import PdfPages
wr.filterwarnings('ignore')

df = pd.read_excel("summary_tests.xlsx")
#print(df)

In [4]:
features = [column for column in df.columns if column not in ['id_sample', 'age', 'sex', 'Unnamed: 0']]
males = df[df['sex'] == 0] 
females = df[df['sex'] == 1] 

#all
results_all = []
for feature in features:
    r, p = pearsonr(df[feature], df['age'])
    results_all.append({"Feature": feature, "r": round(r, 3), "p-value": f"{p:.3e}"})
corr_all = pd.DataFrame(results_all)
print("Все данные:")
display(corr_all)

#males
results_males = []
for feature in features:
    r, p = pearsonr(males[feature], males['age'])
    results_males.append({"Feature": feature, "r": round(r, 3), "p-value": f"{p:.3e}"})
corr_males = pd.DataFrame(results_males)
print("Мужчины:")
display(corr_males)

#females
results_females = []
for feature in features:
    r, p = pearsonr(females[feature], females['age'])
    results_females.append({"Feature": feature, "r": round(r, 3), "p-value": f"{p:.3e}"})
corr_females = pd.DataFrame(results_females)
print("Женщины:")
display(corr_females)

Все данные:

               Feature      r    p-value
0        T258_dH+_mean  0.224  6.621e-38
1         T258_dH+_std  0.114  8.325e-11
2         T258_dH+_min  0.178  2.975e-24
3         T258_dH+_25%  0.222  2.857e-37
4         T258_dH+_50%  0.273  4.895e-56
..                 ...    ...        ...
298  T278_SMR_diff_50%  0.027  1.305e-01
299  T278_SMR_diff_75% -0.037  3.578e-02
300  T278_SMR_diff_max -0.070  6.593e-05
301      T278_SMR_corr -0.008  6.655e-01
302       T278_SMR_tau  0.002  9.072e-01

[303 rows x 3 columns]

Мужчины:

               Feature      r    p-value
0        T258_dH+_mean  0.286  4.310e-26
1         T258_dH+_std  0.232  1.784e-17
2         T258_dH+_min  0.186  1.247e-11
3         T258_dH+_25%  0.226  1.150e-16
4         T258_dH+_50%  0.292  3.119e-27
..                 ...    ...        ...
298  T278_SMR_diff_50%  0.055  4.578e-02
299  T278_SMR_diff_75% -0.013  6.300e-01
300  T278_SMR_diff_max -0.071  1.029e-02
301      T278_SMR_corr  0.039  1.600e-01
302       T278_SMR_tau  0.054  5.214e-02

[303 rows x 3 columns]

Женщины:

               Feature      r    p-value
0        T258_dH+_mean  0.213  5.269e-21
1         T258_dH+_std  0.114  6.313e-07
2         T258_dH+_min  0.172  4.380e-14
3         T258_dH+_25%  0.221  1.345e-22
4         T258_dH+_50%  0.266  2.788e-32
..                 ...    ...        ...
298  T278_SMR_diff_50%  0.003  8.862e-01
299  T278_SMR_diff_75% -0.055  1.605e-02
300  T278_SMR_diff_max -0.068  2.951e-03
301      T278_SMR_corr -0.044  5.696e-02
302       T278_SMR_tau -0.039  8.917e-02

[303 rows x 3 columns]